/target
.classpath
.project
.settings
/src/main/assembly/input/*
!/src/main/assembly/input/3x3_1.txt
!/src/main/assembly/input/3x3_2.txt
!/src/main/assembly/input/3x3_3.txt
!/src/main/assembly/input/3x3_4.txt
!/src/main/assembly/input/3x3_5.txt
!/src/main/assembly/input/3x3_6.txt
!/src/main/assembly/input/3x3_7.txt
!/src/main/assembly/input/4x4_1.txt
!/src/main/assembly/input/4x4_2.txt
!/src/main/assembly/input/4x4_3.txt
!/src/main/assembly/input/4x4_4.txt
!/src/main/assembly/input/4x4_5.txt
!/src/main/assembly/input/4x4_6.txt
!/src/main/assembly/input/4x4_7.txt
!/src/main/assembly/input/4x4_8.txt
!/src/main/assembly/input/4x4_9.txt
!/src/main/assembly/input/4x4_10.txt
!/src/main/assembly/input/4x4_11.txt
!/src/main/assembly/input/4x4_12.txt
!/src/main/assembly/input/4x4_13.txt
!/src/main/assembly/input/4x4_14.txt
!/src/main/assembly/input/4x4_16.txt
!/src/main/assembly/input/4x4_17.txt
!/src/main/assembly/input/4x4_18.txt
!/src/main/assembly/input/4x4_19.txt
!/src/main/assembly/input/4x4_20.txt
!/src/main/assembly/input/4x4_22.txt
!/src/main/assembly/input/4x4_23.txt
!/src/main/assembly/input/4x4_24.txt
!/src/main/assembly/input/4x4_25.txt
!/src/main/assembly/input/4x4_26.txt
!/src/main/assembly/input/4x4_27.txt
!/src/main/assembly/input/4x4_29.txt
!/src/main/assembly/input/4x4_33.txt
!/src/main/assembly/input/4x4_34.txt
!/src/main/assembly/input/4x4_35.txt
!/src/main/assembly/input/4x4_36.txt
!/src/main/assembly/input/4x4_40.txt
!/src/main/assembly/input/4x4_41.txt
!/src/main/assembly/input/4x4_42.txt
!/src/main/assembly/input/4x4_43.txt
!/src/main/assembly/input/4x4_44.txt
!/src/main/assembly/input/4x4_45.txt
!/src/main/assembly/input/4x4_47.txt
!/src/main/assembly/input/4x4_48.txt
!/src/main/assembly/input/4x4_49.txt
!/src/main/assembly/input/4x4_50.txt
!/src/main/assembly/input/4x4_51.txt
!/src/main/assembly/input/4x4_52.txt
!/src/main/assembly/input/4x4_54.txt
!/src/main/assembly/input/4x4_55.txt
!/src/main/assembly/input/4x4_56.txt
!/src/main/assembly/input/4x4_58.txt
!/src/main/assembly/input/4x4_60.txt
!/src/main/assembly/input/4x4_61.txt
!/src/main/assembly/input/4x4_65.txt
!/src/main/assembly/input/4x4_67.txt
!/src/main/assembly/input/4x4_70.txt
!/src/main/assembly/input/4x4_74.txt
!/src/main/assembly/input/4x4_75.txt
!/src/main/assembly/input/4x4_79.txt
!/src/main/assembly/input/4x4_81.txt
!/src/main/assembly/input/4x4_86.txt
!/src/main/assembly/input/4x4_87.txt
!/src/main/assembly/input/4x4_88.txt
!/src/main/assembly/input/4x4_92.txt
!/src/main/assembly/input/4x4_96.txt
!/src/main/assembly/input/4x4_98.txt
!/src/main/assembly/input/4x4_101.txt
!/src/main/assembly/input/4x4_102.txt
!/src/main/assembly/input/4x4_106.txt
!/src/main/assembly/input/4x4_109.txt
!/src/main/assembly/input/4x4_112.txt
!/src/main/assembly/input/4x4_113.txt
!/src/main/assembly/input/4x4_117.txt
!/src/main/assembly/input/4x4_118.txt
!/src/main/assembly/input/4x4_122.txt
!/src/main/assembly/input/4x4_125.txt
!/src/main/assembly/input/4x4_131.txt
!/src/main/assembly/input/4x4_132.txt
!/src/main/assembly/input/4x4_133.txt
!/src/main/assembly/input/4x4_134.txt
!/src/main/assembly/input/4x4_135.txt
!/src/main/assembly/input/4x4_136.txt
!/src/main/assembly/input/4x4_137.txt
!/src/main/assembly/input/4x4_138.txt
!/src/main/assembly/input/4x4_144.txt
!/src/main/assembly/input/4x4_145.txt
!/src/main/assembly/input/4x4_146.txt
!/src/main/assembly/input/4x4_147.txt
!/src/main/assembly/input/4x4_149.txt
!/src/main/assembly/input/4x4_151.txt
!/src/main/assembly/input/4x4_153.txt
!/src/main/assembly/input/4x4_158.txt
!/src/main/assembly/input/4x4_162.txt
!/src/main/assembly/input/4x4_165.txt
!/src/main/assembly/input/4x4_166.txt
!/src/main/assembly/input/4x4_167.txt
!/src/main/assembly/input/4x4_169.txt
!/src/main/assembly/input/4x4_170.txt
!/src/main/assembly/input/4x4_171.txt
!/src/main/assembly/input/4x4_172.txt
!/src/main/assembly/input/4x4_174.txt
!/src/main/assembly/input/4x4_176.txt
!/src/main/assembly/input/4x4_177.txt
!/src/main/assembly/input/4x4_178.txt
!/src/main/assembly/input/4x4_179.txt
!/src/main/assembly/input/4x4_180.txt
!/src/main/assembly/input/4x4_182.txt
!/src/main/assembly/input/4x4_185.txt
!/src/main/assembly/input/4x4_186.txt
!/src/main/assembly/input/4x4_189.txt
!/src/main/assembly/input/4x4_190.txt
!/src/main/assembly/input/4x4_191.txt
!/src/main/assembly/input/4x4_194.txt
!/src/main/assembly/input/4x4_195.txt
!/src/main/assembly/input/4x4_196.txt
!/src/main/assembly/input/4x4_197.txt
!/src/main/assembly/input/4x4_198.txt
!/src/main/assembly/input/4x4_199.txt
!/src/main/assembly/input/4x4_200.txt
!/src/main/assembly/input/4x4_201.txt
!/src/main/assembly/input/4x4_205.txt
!/src/main/assembly/input/4x4_206.txt
!/src/main/assembly/input/4x4_207.txt
!/src/main/assembly/input/4x4_209.txt
!/src/main/assembly/input/4x4_210.txt
!/src/main/assembly/input/4x4_211.txt
!/src/main/assembly/input/4x4_212.txt
!/src/main/assembly/input/4x4_221.txt
!/src/main/assembly/input/4x4_222.txt
!/src/main/assembly/input/4x4_227.txt
!/src/main/assembly/input/4x4_231.txt
!/src/main/assembly/input/4x4_232.txt
!/src/main/assembly/input/4x4_242.txt
!/src/main/assembly/input/4x4_244.txt
!/src/main/assembly/input/4x4_245.txt
!/src/main/assembly/input/4x4_251.txt
!/src/main/assembly/input/4x4_254.txt
!/src/main/assembly/input/4x4_256.txt
!/src/main/assembly/input/4x4_265.txt
!/src/main/assembly/input/4x4_281.txt
!/src/main/assembly/input/4x4_291.txt
!/src/main/assembly/input/4x4_325.txt
!/src/main/assembly/input/4x4_335.txt
!/src/main/assembly/input/4x4_336.txt
!/src/main/assembly/input/4x4_338.txt
!/src/main/assembly/input/4x4_342.txt
!/src/main/assembly/input/4x4_343.txt
!/src/main/assembly/input/4x4_344.txt
!/src/main/assembly/input/4x4_345.txt
!/src/main/assembly/input/4x4_346.txt
!/src/main/assembly/input/4x4_349.txt
!/src/main/assembly/input/4x4_350.txt
!/src/main/assembly/input/4x4_351.txt
!/src/main/assembly/input/4x4_352.txt
!/src/main/assembly/input/4x4_353.txt
!/src/main/assembly/input/4x4_355.txt
!/src/main/assembly/input/4x4_356.txt
!/src/main/assembly/input/4x4_360.txt
!/src/main/assembly/input/4x4_364.txt
!/src/main/assembly/input/4x4_365.txt
!/src/main/assembly/input/4x4_366.txt
!/src/main/assembly/input/4x4_367.txt
!/src/main/assembly/input/4x4_372.txt
!/src/main/assembly/input/4x4_374.txt
!/src/main/assembly/input/4x4_382.txt
!/src/main/assembly/input/4x4_390.txt
!/src/main/assembly/input/4x4_392.txt
!/src/main/assembly/input/4x4_393.txt
!/src/main/assembly/input/4x4_397.txt
!/src/main/assembly/input/4x4_407.txt
!/src/main/assembly/input/4x4_408.txt
!/src/main/assembly/input/4x4_413.txt
!/src/main/assembly/input/4x4_414.txt
!/src/main/assembly/input/4x4_417.txt
!/src/main/assembly/input/4x4_418.txt
!/src/main/assembly/input/4x4_419.txt
!/src/main/assembly/input/4x4_420.txt
!/src/main/assembly/input/4x4_421.txt
!/src/main/assembly/input/4x4_423.txt
!/src/main/assembly/input/4x4_426.txt
!/src/main/assembly/input/4x4_427.txt
!/src/main/assembly/input/4x4_428.txt
!/src/main/assembly/input/4x4_429.txt
!/src/main/assembly/input/4x4_434.txt
!/src/main/assembly/input/4x4_440.txt
!/src/main/assembly/input/4x4_444.txt
!/src/main/assembly/input/4x4_446.txt
!/src/main/assembly/input/4x4_447.txt
!/src/main/assembly/input/4x4_448.txt
!/src/main/assembly/input/4x4_456.txt
!/src/main/assembly/input/4x4_466.txt
!/src/main/assembly/input/4x4_496.txt
!/src/main/assembly/input/4x4_497.txt
!/src/main/assembly/input/4x4_499.txt
!/src/main/assembly/input/4x4_500.txt
!/src/main/assembly/input/4x4_502.txt
!/src/main/assembly/input/4x4_509.txt
!/src/main/assembly/input/4x4_510.txt
!/src/main/assembly/input/4x4_512.txt
!/src/main/assembly/input/4x4_515.txt
!/src/main/assembly/input/4x4_516.txt
!/src/main/assembly/input/4x4_517.txt
!/src/main/assembly/input/4x4_518.txt
!/src/main/assembly/input/4x4_520.txt
!/src/main/assembly/input/4x4_521.txt
!/src/main/assembly/input/4x4_522.txt
!/src/main/assembly/input/4x4_558.txt
!/src/main/assembly/input/4x4_559.txt
!/src/main/assembly/input/4x4_569.txt
!/src/main/assembly/input/4x4_575.txt
!/src/main/assembly/input/4x4_601.txt
!/src/main/assembly/input/4x4_629.txt
!/src/main/assembly/input/4x4_656.txt
!/src/main/assembly/input/4x4_740.txt

