/*  Copyright 2014, J. Pol
#
# This file is part of free software: you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation.
# 
# This package is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# 
# See the GNU General Public License for more details. A copy of the GNU General Public License is
# available at http://www.gnu.org/licenses/gpl.html
*/

.show {
	display:block;
}
.hide {
	display:none;
}
form, div      { display:inline-block; }
fieldset       { display:inline-block;             padding: 0; margin:0; border:0; }
form label     { display:inline-block; width: 4em;                       vertical-align:top; }
fieldset label { display:inline-block; width: 5em; padding: 0; margin:0;}
input          {                       width: 4em; }

/* variant of http://sixrevisions.com/css/css-only-tooltips
   http://downloads.sixrevisions.com/css-tooltips/index.html
 */
.tooltip {
    border-bottom: 1px dotted #000000;
    color: #000000;
    outline: none;
    text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em; /* moves the block out of sight */
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute; left: -21em; top: -8em; z-index: 99;
    margin-left: 0;
    width: 250px;
}
.tooltip:hover em {
    display: block;
    padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
* html a:hover { background: transparent; }
.classic { background: rgba(255, 255, 255, 0.8) }
