/*  Copyright 2014, J. Pol
#
# This file is part of free software: you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation.
# 
# This package is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# 
# See the GNU General Public License for more details. A copy of the GNU General Public License is
# available at <http://www.gnu.org/licenses/>.
*/

.tab2hide, .tab3hide {
	display:none;
}
.tab2show, .tab3show  {
	display:inline;
}

p {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0px;
}

form {
	width:50em
}

table,td {
	border: 0px;
}

table,td,select,input {
	margin: 0px;
	padding: 0px;
}

td {
	vertical-align: top;
}

td.narrow {
	width: 1px;
}

iframe {
    margin-left: 1em;
	width: 820px;
	height: 400px; 
    /* not too high so everything fits on a desktop screen
    and the tabs don't scroll out of sight */
}

img {
	border-style:inset;
}

td input {
	width: 3em;
}

.show {
	display:block;
}

.hide {
	display:none;
}

img {
	vertical-align: text-top;
	border: 0px;
}
